
*{
	margin: 0;
	padding: 0;
}
body {
	font-size: 1.2em;
	background-color: #fff;
	color: #555;
}
p {
	padding: 0 0 20px 0;
	line-height: 1.7em;
}
input[type="text"], input[type="password"], input[type="search"] {
	color: #5d5d5d;
	width: 60%;
	padding: 8px;
}
input, textarea {
outline: none;
border: none;
border: solid 1px #f2f2f2;
}
h1 , h2 {
	font: normal 170% "century gothic", arial , sans-serif;;
	margin: 0 0 15px 0;
	padding: 15px 0.5px 0;
	color: #000;
}
h2{
	font-size: 140%;
}
a, a:hover {
	outline: none;
	text-decoration: underline;
	color: #aeb002;
}
ul {
	margin: 2px 0 22px 17px;
}
ul li {
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
	line-height: 1.5em;
}
.header {
	background: linear-gradient(to bottom, #354287, #7b5689);
    font-size: 16px;
    margin-left: 0px; 
    margin-right: 0px;
	min-width: 900px;
}
.main,.logo,.menubar,.site_content,.footer{
    margin: 0 auto;
}
.logo{
    width: 800px;
    padding-bottom: 40px; 
}
.logo h1, .logo h2{
	font: normal 300% "century gothic", arial , sans-serif;
	margin: 0 0 0 9px; 
}
.logo_text h1, .logo_text h1 a,.logo_text h1 a:hover{
padding: 22px 0 0 0;
color: #fff;
letter-spacing: 3.1px;
text-decoration: none; 
}
.logo_text h2{
	font-size: 0.9em;
	padding: 4px 0 0 0;
	color: #999;
}
.menubar{
	width: 900px;
	height: 46px;
}
ul.menu{
float: right;
}
ul.menu li{
	float: left;
	padding: 0 0 0 9px;
	list-style: none;
	margin: 1px 2px 0 0;
}
ul.menu li a {
	font: normal 100% 'trebuchet ms', sans-serif;
display: block;
height: 20px;
padding: 6px 35px 5px 28px;
color: #fff;
text-decoration: none;
}
ul.menu li.selected a {
	color: #aeb002;
}
ul.menu li a:hover {
	color: #e4ec04;
}
hr {
	border: solid 1px #f3f3f3;
}
.site_content {
	width: 880px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	background-color: white;
}
.sitebar_container {
	float: right;
	width: 220px;
}
.sidebar {
	float: right;
	width: 222px;
	padding: 5px;
	margin: 0 0 16px 0;
	border: solid 1px #f2f2f2;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.btn {
	padding: 8px;
	background-color: while;
	cursor: pointer;
}
.sidebar h2{
	color: #136cb2;
}
.lables_passreg_text {
	font-size: 0.7em;
	margin-top: 3%;
	margin-left: 2%;
}
.sidebar ul {
	margin: 0px;
}
.sidebar ul li {
	list-style-type: none;
	margin: 0 0 0 0 ;
}
.sidebar .rating_sidebar {
	float: right;
}
.content {
	text-align: left;
	width: 620px;
	padding: 0 0 0 5px;
	float: left;
}
.content a {
	text-decoration: none;
}
.films_block {
	margin-bottom: 5%;
}
.films_block img {
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 22%;
}
.posts .posts_content {
	font-size: 0.8em;
}
.info_film_page {
	margin-top: 2%;
	margin-bottom: 4%;
}
.info_film_page .lable {
	font-size: 1.2em;
}
.info_film_page .value {
font-size: 1em;
color: #49945a;
margin-right: 3%;
}
.description_film {
	margin-bottom: 15%;
}
.description_film img {
	float: left;
	margin-right: 2%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
}
.reviews {
	margin-bottom: 4%;
	font-size: 0.9em;
}
.reviews .review_name {
	background-color: #7268ad;
	color: white;
	padding: 1%;
	border-top-left-radius: 5px;
	border-top-right-radius:5px; 
}
.review_text {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
}
.send {
margin-bottom: 4%; 
}
.send input[type="text"] , textarea {
	border: solid 1px #c3c3c3;
	margin-bottom: 2%;
}
.send input[type="text"] {
	width: 98%;
}
.send textarea {
	width: 624px;
	height: 200px;
}
.send input[type="submit"] {
	background-color: #7268ad;
	padding: 3%;
	color: white;
	border-radius: 5px; 
}
.send_contact input[type="text"] {
	width: 500px;
  }
  
  .send_contact textarea {
	width: 516px;
  }
  .info_film{
	margin-bottom: 5%;
    background-color: #f9f9f9;
    padding: 5%;
    height: 270px;
	}
  .info_film img{
	  float: left;
	  margin-right: 2%;
	  border-radius: 5px;
	  border: 5px solid #dad7d5 ;
	  width: 25%;
  }
.button{
background: #7268ad;
padding: 2%;
color: #fff;
border-radius: 5px;
float: right;
margin-top: 5%;
clear: both;
font-size: 0.8em;
}
.button a{
	color: #fff;
}
table{
	width: 100%;
	border: 1px solid #f4f4f4;
}
td{
	padding: 2%;
	border: 1px solid #f4f4f4;
}
td img{
	width: 60px;
	vertical-align: middle;
}
.center{
	text-align: center;
}
.rating{
	font-weight: bold;
}
.footer {
	width: 100%;
	height: 100%;
	padding: 28px 0 5px 0;
	text-align: center;
	background-color: darkslateblue;
	color: #a8aa94;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px; 
} 
.footer a {
	color: #a8aa94;
	text-decoration: none;
}
.footer a:hover {
	color: #fff;
	text-decoration: none;
}
.footer p {
	padding: 0 0 10px 0;
}
/* CSS Mobile*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

.header{
	background: linear-gradient(#e66465, #9198e5);
	min-width: 100%;
	height: 20%;
	text-align: center;
}
.logo{
	width: 100%;
}
.site_content{
	width: 100%;
}
.menubar{
	width: 100%;
	height: 100%;
}
.content{
	width: 100%;
	text-align: center;
}
.site_content{
	width: 100%;
	text-align: center;
}
.sidebar{
	display: none;
}
.footer{
	display: none;
}
ul.menu{
	float: none;
}
ul.menu li{
	margin: 0;
	padding: 0;
	float: none;
}
.logo h1{
	font: normal 235% 'century gothic', arial, sans-serif;
}
.logo h2{
	font: normal 100% 'century gothic', arial, sans-serif;
	color: #fff;
}
.content h1, h2{
	font: normal 110% 'century gothic', arial;
}
.films_block img{
	width: 43%;
}
.posts_content p{
	line-height: 1.5em;
	padding: 3%;
	text-align: left;
}
.posts p{
	font-size: 120%;
}
/*films page mobile*/
.info_film {
	float: none;
	height: 100%;
}
.info_film img{
	width: 90%;
	margin-bottom: 5%;
}
.button{
	float: none;
}
/*raiting page */
table {
	display: block;
}
th{
	font-size: 75%;
}
td{
	padding: 0;
	margin: 0;
	font-size: 95%;
	text-align: left;
}
/*show page*/
iframe{
	width: 88%;
	height: 100%;
}
.description_film{
	width: 90%;
	text-align: left;
	margin-left: 2%;
}
.description_film img {
	float: none;
	width: 73%;
	display: block;
	padding: 0;
	margin: 0;
	margin-left: 11%;
	margin-bottom: 7%;
}
.reviews {
	text-align: left;
	width: 96%;
}
.send input[type="text"]{
	width: 80%;
}
.send textarea{
	width: 85%;
}

}